html, body {
    height: 100%;
    width: 100%;
    /* margin: 0;
    padding: 0; */
    background: #0D0D0D;
    /* display: flex; */
    /* overflow: hidden; */
  }

  
.left-section {
    position: relative;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    padding: 120px;
    padding-left: 10%;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex-shrink: 0;
}

.superhr-logo{
    /* left: 120px; */
    position: absolute;
}

img.headline_landing_page {
    width: 509px;
    top: 150px;
    position: relative;
    filter: drop-shadow(10px 0px 100px #b73526);
}

div.subheadline_landing_page {
    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    font-family: Proxima Nova;
    font-weight: 500;
    line-height: 32px;
    position: absolute;
    top: 28rem;
    max-width: 36rem;
    min-width: 20rem;
}

div.footer-line {
    width: 380px;
    height: 1px;    
    background: rgb(255, 255, 255, 0.04);
    left: calc(50% - 380px/2);
    bottom: -130px;
    position: relative;
}

div.social-media {
    display: none;
    gap: 24px;
    /* bottom: 375px; */
    justify-content: center;
    /* position: relative;
    top: 0px; */
    position: absolute;
    top: 41rem;
    left: 8rem;
}

div.right-section {
    width: 100%;
}

div.right-section img {
    /* position: absolute; */
    bottom: 0px;
    left: 50%;
}

img.launching-soon2 {
    display: none;
    position: absolute;
    /* top: 92%; */
    bottom: 0px;
    filter: blur(1px);
    
}

img.launching-soon1 {
    position: absolute;
    right: 0px;
    top: 0px;
    filter: blur(1px);
}

button.join-button {
    /* width: 70px;
    height: 40px; */
    width: 230px;
    height: 60px;
    font-size: 22px;
    border-radius: 8px;
    display: flex;
    padding: 7px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    /* flex-shrink: 0; */
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #ED6D31 0%, #EB4432 100%);
    align-items: center;
    /* margin-top: 12px;
    margin-left: 0.4rem; */
    z-index: 9;
    border: unset;
    position: absolute;
    top: 560px;
    /* font-family: Proxima Nova; */
}

button.join-button:hover {
    cursor: pointer;
}

button.join-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button.join-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button.join-button:hover span {
    padding-right: 25px;
}
  
button.join-button:hover span:after {
    opacity: 1;
    right: 0;
}

button.join-button:active {
    cursor: pointer;
    transform: translateY(4px);
}

@media(min-width : 1360px) {
    div.right-section img {
        position: absolute;
    }
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #0D0D0D;
        display: flex;
        overflow: hidden;
      }

      div.subheadline_landing_page {
        color: rgba(255, 255, 255, 0.44);
        font-size: 20px;
        font-family: Proxima Nova;
        font-weight: 500;
        line-height: 32px;
        position: absolute;
        top: 420px;
    }

    button.join-button{
        top: 530px;
    }
    div.social-media {
        position: relative;
        top: 0px;
    }

    img.launching-soon2 {
    position: absolute;
    bottom: 0px;
    display: block;
    }
    
    
}